filelock==4.0.5
joblib==1.5.3
lightgbm==4.7.0
matplotlib==3.11.2
numpy==2.5.3
oandapyv20==0.7.2
openai==3.19.2
pandas==3.0.6
pandas_ta_classic==0.6.52
protobuf==7.36.2
pydantic==2.13.5
pytest==9.1.1
python-dotenv==1.2.3
PyYAML==6.0.3
scikit_learn==1.9.1
ta_lib==0.7.0
tensorflow==2.20.0
xgboost==3.4.1
yfinance==1.5.2
